@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
         @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <br />
                    <br />
                    <strong>@Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!  /", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</strong>
                    <br />
                    <br />
                </li>
                <li class=" nav-item">
                    <br />
                    <br />
                    <strong><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></strong>
                    <br />
                    <br />
                </li>
            </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <br />
            <br />
            <strong>@Html.ActionLink("Register  /", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</strong>
            <br />
            <br />
        </li>

        <li class="nav-item">
            <br />
            <br />
            <strong>@Html.ActionLink("Log in  ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong>
            <br />
            <br />
        </li>
    </ul>
}
